# Ignore compiler project files
*.atools
*.amake
*.amake.bk
*.o
*.app
*.exe
mrweprefs.r
project.r
absoft_run_env.sh
release
AWE_Preferences.f95

# Ignore Mac OS X system files
.DS_Store

# Python, Byte-compiled / optimized / DLL files
__pycache__/
.cache/
.idea/
*.py[cod]
*$py.class

# CMake Files
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
Status API Training Shop Blog About

# Build and testing directories
build/
_temp/
